<div class="d-flex justify-content-between">
  <h3>GiffsApp</h3>
  <gif-burguer-button class="burguerButton"></gif-burguer-button>
</div>

<div class="d-flex">
  <mat-form-field class="example-full-width">
    <mat-label>Buscar gifs...</mat-label>
    <input type="text" matInput (keyup.enter)="submitValue(txtTagInput.value)" #txtTagInput />
  </mat-form-field>

    <button class="search-button" mat-flat-button color="primary" (click)="submitValue(txtTagInput.value)"><i class="fa fa-search"></i>
    </button>

</div>

