<div class="d-flex justify-content-between">
  <h3>GiffsApp</h3>
  <gif-burguer-button class="burguerButton"></gif-burguer-button>
</div>

<!-- <input type="text" class="form-control mt-5" placeholder="Buscar gifs..." (keyup.enter)="searchTag()" #txtTagInput /> -->

<div class="d-flex">
  <mat-form-field class="example-full-width mt-5">
    <mat-label>Buscar gifs...</mat-label>
    <input type="text" matInput (keyup.enter)="searchTag()" #txtTagInput />
  </mat-form-field>

    <button class="search-button" mat-flat-button color="primary" (click)="searchOnButton()"><i class="fa fa-search"></i>
    </button>

</div>

